<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aparment Bill Management App - Tenant Side</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AparmentBillManagementMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/sweetalert2-11.10.1/dist/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/css/message.css" />
</head>
<body class="TenantUserAreaLayout">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="TenantUser" asp-controller="Home" asp-action="Index">
                    Home</a>

                <div class="d-flex align-content-end">
                    <a class="" asp-area="TenantUser" asp-action="Index" asp-controller="Message" title="Messages">
                        
                        <big>
                            <i class="position-relative fa fa-envelope mx-4">
                                <span id="unreadMessageCount" class="p-1 mx-2 position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning visually-hidden">+9</span>
                        </i>
                            
                        
                    </big>
             
                    </a>
                    <a asp-area="" asp-action="Logout" asp-controller="Auth" title="Sign Out">
                        <big> <i class="fa fa-sign-out"></i></big>
                    </a>
                </div>


            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2-11.10.1/dist/sweetalert2.all.min.js"></script>
    <script src="~/lib/notify.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
