@{
    Layout = null;
}

<style>
    body{
        background-image: url("../img/access_denied.jpg");
background-repeat: no-repeat;
background-size: contain;
background-position: center;

    }
    h1{
        background-color: white;
        color:red;
        text-align:center;
        font-weight:bold;
    }
</style>

<h1>
    You are not authorized to access this page!!!<br />
    Now Get Outta Here!!!
</h1>