@model LoginDTO

@if(TempData["message"] != null ){
    <div class="alert alert-success">
        @TempData["message"]
    </div>
}
<style>
    a{
        text-decoration: none;
        color: #000;
    
    }
</style>

<div class="row">
    <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-around mottoPhrase">
        <h1>ABMS Apartment Bill Management Web App</h1>
            <h3 style="margin:20px 0px;">"Streamline Your Space, Simplify Your Bills: Your Apartment Finances, Managed with Ease!"</h3>
</div>
    <div class="col-sm-12 col-md-6 ">

        <form method="Post" asp-controller="Auth">

            <h5><a href="/Auth/Index">Login</a> / <a href="/Auth/Register">Register</a></h5>
            <form-group>
                <div>
                    <label asp-for="Mail"></label>
                    <input asp-for="Mail" required />
                </div>
                <span asp-validation-for="Mail" class="text-danger"></span>
            </form-group>
            <form-group>
                <div>
                    <label asp-for="Password"></label>
                    <input asp-for="Password"  required />
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>

            </form-group>

            <form-group>
                <div>
                    <label asp-for="UserType">User Type</label>

                    <div>
                        <select class="form-select" asp-for="UserType">
                            <option value="0">Tenant</option>
                            <option value="1">Manager</option>
                        </select>
                    </div>
                </div>
            </form-group>


            <form-group>
                <div>
                    <label class="form-check-label" asp-for="RememberMe">Remember Me</label>
                <div class="form-switch ">
                    
                    <input class="form-check-input " type="checkbox"  asp-for="RememberMe">
                    
                </div>
                </div>

            </form-group>

            <input type="submit" value="Login" asp-action="Index" />

        </form>
</div>
</div>