/* Manager message page uses message.css to */

.chatRoomArea {
    overflow: auto;
}

.messageSection {
    position: relative;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

#emptyChatArea {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (min-width: 576px) {
    #chatsButton{
        display: none;
    }
}

@media (max-width:576px) {
#chatsButton{display: block; margin-bottom:7px;}

.sideNav{
    height:80vh;
    overflow-y: scroll;
    margin-bottom:10px;
}
}
