@model BillDTO

@{
    DateTime today = DateTime.Now;
    Model.BillDate = today;
}

@if (TempData["message"] is not null)
{
    <div class="alert-info">@TempData["message"]</div>
}

<form asp-controller="Bill" method="post">
    <h5>New Bill Form</h5>
    @if(ViewData["tenantName"] is not null)
    {        
        <form-group>
            <div>
                <label >Tenant: </label>
                <h6 class="text-muted">@ViewData["tenantName"]</h6>
            </div>
        </form-group>
    }
    <input asp-for="ApartmentId" hidden/>
    <form-group>
        <div>
        <label asp-for="Explanation"></label>
            <textarea  asp-for="Explanation" required></textarea>
        </div>
        <span asp-validation-for="Explanation" class="text-danger"></span>
    </form-group>

        <form-group>
        <div>

        <label asp-for="BillDate"></label>
            <input asp-for="BillDate" type="date" required />
        </div>
        <span asp-validation-for="BillDate" class="text-danger"></span>
    </form-group>

        <form-group>
        <div>

        <label asp-for="BillCost"></label>
            <input asp-for="BillCost" required />
        </div>
        <span asp-validation-for="BillCost" class="text-danger"></span>
    </form-group>

        <form-group>
        <div>

        <label asp-for="IsPayed"></label>
            <input asp-for="IsPayed" />
        </div>
        <span asp-validation-for="IsPayed" class="text-danger"></span>
    </form-group>

    <input type="submit" asp-action="Bill"  value="Add Bill"/>
</form>