@model Entity.DTOs.BillDTO

@if (TempData["message"] is not null)
{
    <div class="alert alert-info">@TempData["message"]</div>
}

<form asp-controller="Bill" method="post">
    <h5>Update Bill Form</h5>
    <input asp-for="ApartmentId" hidden/>
    <input asp-for="Id" hidden />

    <form-group>
        <div>
            <label asp-for="Explanation"></label>
            <textarea asp-for="Explanation" required></textarea>
        </div>
        <span asp-validation-for="Explanation" class="text-danger"></span>
    </form-group>

    <form-group>
        <div>
            <label asp-for="BillDate"></label>
            <input asp-for="BillDate" required type="date" />
        </div>
        <span asp-validation-for="BillDate" class="text-danger"></span>
    </form-group>

    <form-group>
        <div>

            <label asp-for="BillCost"></label>
            <input asp-for="BillCost" required />
        </div>
        <span asp-validation-for="BillCost" class="text-danger"></span>
    </form-group>

    <form-group>
        <div>
            <label asp-for="IsPayed"></label>
            <input asp-for="IsPayed" />
        </div>
        <span asp-validation-for="IsPayed" class="text-danger"></span>
    </form-group>

    <input type="submit" asp-action="Update" value="Update Bill" />
</form>