@{
    int tenantId = ViewBag.tenantId;
}


    <div class=" messageSection bg-light bg-opacity-75" >
    
    <div class=" scroller " > <div id="messagesArea">  </div>

        <div id="spinner" class="align-middle spinner-border text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="input-group ">
        <textarea id="textarea" type="text" class="form-control" placeholder="Enter your message" aria-label="Enter your message" aria-describedby="sendMessage"></textarea>
        <button class="btn " type="button" id="sendMessage" onclick="sendMessage(@tenantId)">
            Send
            <i class="fa fa-send"></i>
        </button>
    </div>
    </div>

@section Scripts {
<script src="~/js/tenantMessagesPage.js"></script>
    <script>


        $(document).ready(function () {
            getMessages(@tenantId);

            window.setInterval(function () {
                console.log("getMessages");
                getNewMessages(@tenantId);
            }, 5000);
        });


    </script>
}