@model List<TenantVM>


@if (TempData["message"] is not null)
{
    <div class="alert-info">@TempData["message"]</div>
}

@{
    List<string> blocks = Model.DistinctBy(a => a.BlockName).Select(a => a.BlockName).Order().ToList();
}

<h2 class="d-flex justify-content-center">Tenants List</h2>
@if (Model.Count < 1)
{
    <p class="alert-danger"> There is no tenant</p>
}

<div class="d-flex flex-wrap justify-content-between mb-2 gap-3">
    <div id="blockRadioBtns" class="btn-group  " role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="all" autocomplete="off" checked onclick="filterTenants()">
        <label class="btn btn-outline-primary" for="all">All Blocks</label>

        @foreach (string blockName in blocks)
        {
            <input type="radio" class="btn-check" name="btnradio" id="@blockName" autocomplete="off" onclick="filterTenants()">
            <label class="btn btn-outline-primary" for="@blockName">@blockName</label>
        }
    </div>
    <div class ="flex-fill">
        <input id="filter" class="w-100 form-control" placeholder="Search  by tenant name" aria-label="Search" onkeyup="filterTenants()">
    </div>
    <div class="">
        <input type="checkbox" class="btn-check" id="debtCheck" autocomplete="off" onchange="filterTenants()">
        <label class="btn btn-outline-primary" for="debtCheck"><i id="debtCheckIcon" class="fa fa-close"></i> Only Has Debt</label><br>
    </div>

</div>

<div class="row justify-content-center" id="tenantsArea">
    @await Html.PartialAsync("TenantsList")

</div>

@section Scripts{
    <script>

        function filterTenants() {
            let blockName = $("#blockRadioBtns input[type='radio']:checked").attr("id");
            let filter = $("#filter").val();
            let debtCheck = $("#debtCheck").prop("checked");
            $.post("/Tenant/TenantsList?blockName=" + blockName + "&nameFilter=" + filter + "&onlyHasDebt=" + debtCheck).then(
                function (result) {
                    console.log(result);
                    $("#tenantsArea").html(result);
                }
            );
            if (debtCheck) {
                $("#debtCheckIcon").removeClass("fa-close");
                $("#debtCheckIcon").addClass("fa-check");
            } else {
                $("#debtCheckIcon").removeClass("fa-check");
                $("#debtCheckIcon").addClass("fa-close");
            }
        }

    </script>
}

