@model TenantDTO

@if (TempData["message"] is not null)
{
    <div class="alert-info">@TempData["message"]</div>
}


<form asp-controller="Tenant"  method="post" >
    <h5>New Tenant Form</h5>
    <input asp-for="ApartmentId" hidden/>
    <form-group>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" placeholder="e.g. John" required />
        </div>
        <span asp-validation-for="Name" class="text-danger"></span>

    </form-group>
    <form-group>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" placeholder="e.g. Dorie" required />
        </div>
        <span asp-validation-for="LastName" class="text-danger"></span>

    </form-group>   
    
    <form-group>
        <div>
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" placeholder="e.g. 05464638650" required type="number"/>
        </div>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

    </form-group>    
    
    <form-group>
        <div>
            <label asp-for="Mail"></label>
            <input asp-for="Mail" placeholder="e.g. blabla@gmail.com" required type="email"/>
        </div>
        <span asp-validation-for="Mail" class="text-danger"></span>

    </form-group>

    <form-group>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" placeholder="e.g. 1234" required type="text" />
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>

    </form-group>

    <form-group>
        <div>
            <label asp-for="IdentityNumber"></label>
            <input asp-for="IdentityNumber" placeholder="enter identity number" required type="number" />
        </div>
        <span asp-validation-for="IdentityNumber" class="text-danger"></span>

    </form-group>

    <form-group>
        <div>
            <label asp-for="LicensePlate"></label>
            <input asp-for="LicensePlate" placeholder="e.g. 49 MEB 490" required />
        </div>
        <span asp-validation-for="LicensePlate" class="text-danger"></span>

    </form-group>
    <input asp-action="Tenant" type="submit" value="Add Tenant"/>
</form>